modules = ["nodejs-20", "php-8.2", "web"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Start Frontend"

[[workflows.workflow]]
name = "Start Frontend"
author = 45450346
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 5000
externalPort = 80
